<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>accueil</servlet-name>
        <jsp-file>/WEB-INF/views/accueil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>apropos</servlet-name>
        <jsp-file>/WEB-INF/views/info/apropos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>termes1</servlet-name>
        <jsp-file>/WEB-INF/views/info/termes-assurance-1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>termes2</servlet-name>
        <jsp-file>/WEB-INF/views/info/termes-assurance-2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apropos</servlet-name>
        <url-pattern>/Apropos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>termes1</servlet-name>
        <url-pattern>/Termes1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>termes2</servlet-name>
        <url-pattern>/Termes2</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>admin-filtre</filter-name>
        <filter-class>Filters.AdminFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>admin-filtre</filter-name>
        <url-pattern>/Notification</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>admin-filtre</filter-name>
        <url-pattern>/Familles</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>utilisateur-filtre</filter-name>
        <filter-class>Filters.UtilisateurFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>utilisateur-filtre</filter-name>
        <url-pattern>/Compte</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>utilisateur-filtre</filter-name>
        <url-pattern>/Enfants</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>utilisateur-filtre</filter-name>
        <url-pattern>/Facture</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>utilisateur-filtre</filter-name>
        <url-pattern>/Export</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>utilisateur-filtre</filter-name>
        <url-pattern>/Parents</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>publique-filtre</filter-name>
        <filter-class>Filters.PubliqueFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>publique-filtre</filter-name>
        <url-pattern>/Inscrire</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>publique-filtre</filter-name>
        <url-pattern>/Connect</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>completer-filtre</filter-name>
        <filter-class>Filters.CompleterFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>completer-filtre</filter-name>
        <url-pattern>/AjouterEnfants</url-pattern>
    </filter-mapping>
    
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/error-500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/error-404.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/WEB-INF/views/accueil.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
